{
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": false,
    "importOrder": ["^node:", "^[^@.]", "^@", "^\\."],
    "importOrderSortSpecifiers": true,
    "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports/lib/src/index.js"]
}